*{
	margin:0;
	padding: 0;
}

body{
	padding-bottom: 70px;
	background-image: url(../images/bg.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
}

h1{
	text-align: center;
	vertical-align: middle;
}

header{
	background-color: #1F211D;
	color: #E7E6E8;
	height: 90px;
	width: 100%;
	position: fixed;
	top: 0px;
}

a{
	text-decoration: none;
	color: inherit;
}


#mainTitle{
	font-family: 'Erica One';
	font-size: 300%;
}

#secondaryTitle{
	color: #E7E6E8;
	text-align: center;
	vertical-align: middle;
}

.content{
	height: 900px;
}

.nav{
	text-align: center;
}

.wrapper{
	position: fixed;
	height:900px;
}

.bg{
	padding-top: 50px;
	margin-top: 50px;
	height: 900px;
	background-color: gray;
	/*opacity: .3;*/
	background-color:rgba(0, 0, 0, 0.34);
}